/*ICONFONTS*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-2bhg2z');
    src:url('../fonts/icomoon.eot?#iefix-2bhg2z') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-2bhg2z') format('woff'),
        url('../fonts/icomoon.ttf?-2bhg2z') format('truetype'),
        url('../fonts/icomoon.svg?-2bhg2z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] 
[class^="icon-"]:before, [class*=" icon-"]:before{
    font-family: 'icomoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico{
    display: inline-block;
}
.icon-googleplus:before {
    color:#00BFFF;
    content: "\e600";
    font-size: 2em;
    font-weight: lighter;    



}
.icon-facebook:before {
    color:#00BFFF; 
    content: "\e601";
    font-size: 2em;
    font-weight: lighter;    


}
.icon-twitter:before {
    color:#00BFFF;
    content: "\e602";
    font-size: 2em;
    font-weight: lighter;    


}
.icon-pinterest:after {
    color:#00BFFF;
    content: "\e603";
    font-size: 2em;
    font-weight: lighter;    


}




.Body{
    background-image: url("../../resources/images/Pepebackground.png");
    background-size: cover;
}


.Header{
    background-image: url("../../resources/images/Pepeheader.png");
    background-size: cover;
    text-align: center;
}
.Header-left{
    text-align: center;
    display: inline-block;
}

.Pepe-body{
    margin: 4em;
    text-align: center;
}
.Titulo-pepe{
    text-align: center;
    margin: 0em;
}
.Titulo{
    font-size: 1.5em;
    margin-top: 2em;
    margin-left: 3em;
}
.form-botonDlg{
    width: 100px;
}
.form-1{
    margin-left: 4em;
    color: #0B4C5F;
    font-weight: lighter;
    font-size: 1.2em; 
    margin-bottom: .5em;
    width: 15em;
}
.seccion1{
    margin-top: 2em;
}
.seccion2{
    margin-top: 3.5em;
}
.seccion3{
    margin-top: 3.5em;
}
.seccion4{
    margin-top: 4em;
}

.Pepe-Lista{
    margin-bottom: 1em;
    margin-top: 0;
}
.article-listaActividad{
    display: inline-block;
    margin-top: -20em;
    margin-left: 15em;
    
}

.articulo1{
    margin: 0;
    display: inline-block;
}
.articulo2{
    margin: 0;
    display: inline-block;
}

.Pepe-articuloLabel{
    display: block;
    text-align: left;
    font-size: 1.5em;
    color: #0B4C5F;
    font-weight: lighter;
}


.Pepe-formInput1{
    width: 29em;
    height: 1.5em;
    margin-right: .5em;
}
.Pepe-formInput2{
    width: 11em;
    height: 1.5em;
    margin-right: .5em;
}
.Pepe-formInput3{
    width: 41em;
    height: 1.5em;
    margin-right: .5em;
}
.Pepe-formInput4{
    width: 65em;
    height: 1.5em;
    margin-right: .5em;
}


.Pepe-botones{
    text-decoration: none;
    color: white;
    border-color: deepskyblue;
    background: #00a0b0;
}

.Pepe-botonesLista{
    text-decoration: none;
    color: white;
    border-color: deepskyblue;
    background: #00a0b0;
    margin: 0 2em 1em 0;
    padding: 0.5em;
    display: inline-block;
}





.Pepe-inicioContenedor{
    display: inline-block;
}



.Pepe-inicio{
    display: inline-block;
    margin: 3em;
}
.Pepe-inicioDescripcion{
    display: block;
    text-align: center;

}
.Pepe-form11{
    width: 320px;
    text-align: center;
}
.Pepe-inicioLabel1{
    display: block;
    text-align: center;
    margin-top: 1em;
}

.Pepe-formInput9{
    margin: 1em auto 1em auto;
    display: block;
}
.Pepe-formLogo{
    display: inline-block;
}
.Pepe-figureContainer{
    float: none;
    display: inline-block;
    padding-left: 12em;
    text-align: center;
}


.Pepe-footer {
    background-image: url('../images/Pepefooter.png');
    margin: 0;
    background-size: cover;
    font-size: 12px;
}

.Footer-imageContainer{
    text-align: center;
    margin-top: 0;
}
.Footer-image{
    position: relative;
    top:2em;
}
.Pepe-redes{
    display: inline-block;
    padding-left: 2em;
}
.Footer-description{
    text-align: center;
    padding-bottom: .5em;
    margin: 0;
}



/* ESTILOS DE FORMULACION 

.error{
    color: red;
    font-size: 10px;
}

.ui-inputfield{
    text-align: center !important;

    border: 1px red solid !important;
    background: #FFFFFF !important;
    width: 500px !important;

   
    background: #FFFFFF !important;
   
    box-shadow: 0 !important;
    -webkit-box-shadow:inset 0 0 0 0!important;
    border-radius: 0 !important;
    color: #000000 !important;
    font-weight: normal !important;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{
    border: none !important;
    text-shadow: 0 0 0 #333333 !important;
    background: #A4A4A4 !important;
}

.ui-widget-content{
    color: #000;
}

.ui-widget-header{
    background: #FFFFFF !important;
}

.ui-dialog .ui-dialog-titlebar-close, 
.ui-dialog .ui-dialog-titlebar-minimize, 
.ui-dialog .ui-dialog-titlebar-maximize{

    display: inline-block !important;
    cursor: pointer !important;

    display: inline !important;
    top: 0 !important;
    right: 0 !important;
    cursor: pointer !important;
    position: fixed;

    background: #FFFFFF !important;
    margin: 1%!important;
    padding: 0.3em !important;
    width: 30px;
    height:30px;
    color: #000000 !important;

    border: 1px solid blue !important;

}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight{
    color: #000000 !important;
    text-shadow: none !important;
    background: #F58634 !important;
    border: 1px solid rgb(182,194,0) !important;
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-corner-all{
    color: #000000 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.ui-widget-content {
    color: #000000 !important;
}

.ui-widget-overlay{
    background: rgba(0,0,0,0.7) !important;
    width: auto !important; 
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    color: #000000 !important;
    left: 0 !important;
    right: 0 !important;
    opacity: 1  !important;
    transition: all ease 5s !important;
    pointer-events: none !important;
    .ui-dialog{
        height: 80% !important;
        overflow: scroll !important;
    }
}

.ui-dialog{
    position: fixed !important;
    background: #FFFFFF !important;
    box-shadow: #000 0 0 5px !important;
    width: auto !important;
    margin: auto 20%;
    padding: 1em !important;
    left: 0 !important;
    right: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    color: #000000 !important;
    height: 80% !important;

    overflow: hidden !important;

    overflow: scroll !important;

}

.ui-dialog .ui-dialog-titlebar{
    padding: 0 !important;
    margin: 0 !important;
}

.ui-dialog .ui-dialog-title{
    display: none;
}
.ui-dialog .ui-dialog-content{
    height: 100%;
    padding: 0 !important;
    overflow: visible !important;
}

.ui-dialog input,
.ui-dialog textarea,
.ui-dialog select{
    display: block;
    padding: 5px;
    color: #000000 !important;
    width: 300px;
    margin-bottom: 5px;
    outline: none !important;
}
*/
.Guardar{
    background-color:#00a0b0;
    color: white;
    padding: 1em;
    margin-left: 5em;
    margin-top: 1em;
}
.Volver{
    background-color:#00a0b0;
    color: white;
    margin-left: 5em;
    margin-top: 0.5em;
    margin-bottom: 5em;
}

.form-competencia{
    display: inline-block;
    margin: 0 3em;
    text-align: right;
}
.form-competencia>input {
    width: 5em;
    display: inline-block;
    margin: 3em 0 0 3em;
}
.form-competencia>td{
    margin-right: 1em;
}

.Titulo-plantillas{
    margin-top: 0;
    margin-left: 0;
    font-size: 2em;
    display: inline-block;
}
.dialogo{
    margin-top: 0;
}