/*ICONFONTS*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-2bhg2z');
    src:url('../fonts/icomoon.eot?#iefix-2bhg2z') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-2bhg2z') format('woff'),
        url('../fonts/icomoon.ttf?-2bhg2z') format('truetype'),
        url('../fonts/icomoon.svg?-2bhg2z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] 
[class^="icon-"]:before, [class*=" icon-"]:before{
    font-family: 'icomoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico{
    display: inline-block;
}
.icon-googleplus:before {
    color:#00BFFF;
    content: "\e600";
    font-size: 2em;
    font-weight: lighter;    

   
   
}
.icon-facebook:before {
    color:#00BFFF; 
    content: "\e601";
    font-size: 2em;
    font-weight: lighter;    
  
 
}
.icon-twitter:before {
    color:#00BFFF;
    content: "\e602";
    font-size: 2em;
    font-weight: lighter;    
 

}
.icon-pinterest:after {
    color:#00BFFF;
    content: "\e603";
    font-size: 2em;
    font-weight: lighter;    

   
}

.Titulo{
    display: inline-block;
 
}
.Header{

    background-image: url('../images/Pepeheader.png');
    border-bottom: 1px solid #A4A4A4;
    padding: 1em 0;
    text-align: center;
}
.Header-pepeForm{
    display: block;
    margin: 8px;
    text-align: left;

    
}
.Header-form{
    margin-right: .2em;
}
.Label{
    color: #0B4C5F;
    font-weight: lighter;
    margin:0;
    padding-right: 2px;
}

.Header-pepeForm{
    
    display: block;
    margin: .5em;
    text-align: left;

}

.Form-input8{
    width: 1094em;
}
.Form-Input1{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 15px;
    margin-right: 10px;
}
.Form-Input2{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 15px;
    margin-right: 10px;
}
.Form-Input3{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 24px;
    margin-right: 10px;
}
.Form-Input4{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 18px;
    margin-right: 11px;
}
.Form-Input5{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 33px;
    width:966px;
}
.Form-Input6{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 22px;
    margin-right: 11px;
}
.Form-Input7{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 59px;
    margin-right: 3px;
}
.Form-Input8{
    border-color: #01A9DB;
    border-radius: .2em;
    color: black;
    margin: 2px;
    margin-left: 84px;
    margin-right: 3px;
    width:966px;
}


/*nav principal equipo 5*/
.Pepe-list{
    display: block;
    font-size: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0;

}


.pepe-color{

    display: block;
}

.Pepe-listMenu{
    float: left;
    font-size: center;
    margin-right: 2em;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    text-decoration: none;
}

.Pepe-listMenuItem{
    background-color: #00B6B6;
    border-bottom: 1px white solid;
    border: none;
    display: block;
    list-style: none;
    margin: 0;
    padding: .5em;
} 

.PepeMenu-link{
    color: white;
    text-decoration: none;
 
}

.Pepe-listColor{
    float: left;
    font-size: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-decoration: none;
}

.Pepe-listColorItem{
    
    border-bottom: 1px white solid;
    border: none;
    height: 18px;
    margin: 0;
    padding: .5em;
} 

.Pepe-listColor li:nth-child(1){
    background: #ff7310;
 }

.Pepe-listColor li:nth-child(2){
    background: #00b53a;
 }

.Pepe-listColor li:nth-child(3){
    background: #ff7310;
 }
 .Pepe-listColor li:nth-child(4){
    background: #008275;
 }

 .Pepe-listColor li:nth-child(5){
    background: #ff7310;
 }

 .Pepe-listColor li:nth-child(6){
    background: #ff7310;
 }

 .Pepe-listColor li:nth-child(7){
    background: #ff7310;
 }

 .Pepe-listColor li:nth-child(8){
    background: #ff7310;
 }

 .Pepe-listColor li:nth-child(9){
    background: #ff7310;
 }



/*PLANEACION CAJA EQUIPO 1 Y 4*/

.Actividades{
    display: inline-block;
}
.Button-Actividad1{
    background: #00a0b0;
    color: white;
    height: 1.5em;
    width: 7em;

}

.Button-Actividad2{
    background: #00a0b0;
    color: white;
    height: 1.5em;
    width: 7em;
}

.Button-Actividad3{
    background: #00a0b0;
    color: white;
    height: 1.5em;
    width: 7em;
}

.Button-nav{
    background: #27c1cb;
    color: white;
    height: 2.5em;
    width: 15em;
}

.Button{
    background: #27c1cb;
    color:white;
    height: 1.5em;
    margin-bottom: 2em;
    margin-left: 17.5em;
    text-align: center;
    width: 8em;
}



.Button1{
    background: #27c1cb;
    color: white; 
    float: right;
    margin-bottom: 2em;
    margin-right: 6em;
    
}

.Input{
    height: 1.2em;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 40em;
}

.Ul-nav{
    margin-top: 3px;
    padding-left: 1em;

}
.Titulo-pepe{
    font-family: bold;
    font-size: 1em;
}

/*footer equipo 1*/
.Pepe-footer{
     background-image: url('../images/Pepefooter.png');
     background-size: cover;
     font-size: 12px;
     margin: 0;
}
.Footer-imageContainer{
     margin-top: 0;
     text-align: center;
     margin-bottom: 2em;
}
.Footer-image{
    position: relative;
    top:2em;
}
.Pepe-redes{
    display: inline-block;
    padding-left: 2em;
}
.Footer-description{
    margin: 0;
    padding-bottom: .5em;
    text-align: center;
}

@media screen and (max-width:580px ){
    .Pepe-button{
    display: inline-block;
    margin: 0;
}
    .Button{
        margin-left: .5em;
        margin-top: 2em;
        width: 7.2em;
    }
    .Button1{
        height: 1.5em;
        margin-bottom: 2em;
        margin-left: .5em;
        margin-right:0;
        margin-top: 2em;
        padding: 0;
        text-align: center;
    }

    .Button-Actividad3{
        margin-left: 1em;
    }

    .Button-Actividad2{
        margin-bottom:1em;
        margin-left: 1em;
    }

    .Button-Actividad1{
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .Label1{
        margin: 0;
    }
    .Label2{
        margin: 0;
    }
    .Label3{
        margin: 0;
    }
    .Label4{
        margin: 0;
    }
    .Label5{
        margin: 0;
    }
    .Label6{
        margin: 0;
    }
    .Label7{
        margin: 0;
    }
    .Label8{
        margin: 0;
    }

    .Label-form{
        margin-left: 5em;
        margin-top: 2em;
    }
    .Input{
        height: 1.2em;
        margin-bottom: 2em;
        margin-top: 2em;
        width: 17em;

    }

    .Titulo-pepe{
        margin-bottom: 2em;
        margin-left: 3.5em;
        margin-top: .5em;
    }

    .Footer-image{
        margin-bottom: 2em;
    }

    .Pepe-redes{
        margin-left: 5.5em;
    }
}



 


    
