<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>none</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>webAdmin</display-name>
        <web-resource-collection>
            <web-resource-name>admin-area</web-resource-name>
            <description>zona administradores</description>
            <url-pattern>/faces/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>webAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>webUser</display-name>
        <web-resource-collection>
            <web-resource-name>user-area</web-resource-name>
            <description>zona de usuarios</description>
            <url-pattern>/faces/user/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>webUser</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Plantillas</display-name>
        <web-resource-collection>
            <web-resource-name>Plantillas</web-resource-name>
            <description>Plantillas para todos los formularios</description>
            <url-pattern>/faces/html_plantillas/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>webAdmin</role-name>
            <role-name>webUser</role-name>
            <role-name>webApren</role-name>
            <role-name>webGest</role-name>
            <role-name>webPedag</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>pepe-realm</realm-name>
        <form-login-config>
            <form-login-page>/index.xhtml</form-login-page>
            <form-error-page>/index.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>administrador</description>
        <role-name>webAdmin</role-name>
    </security-role>
    <security-role>
        <description>usuario</description>
        <role-name>webUser</role-name>
    </security-role>
    <security-role>
        <description>aprendiz
        </description>
        <role-name>webApren</role-name>
    </security-role>
    <security-role>
        <description>gestor</description>
        <role-name>webGest</role-name>
    </security-role>
    <security-role>
        <description>pedagogo
        </description>
        <role-name>webPedag</role-name>
    </security-role>
</web-app>
